<div class="carousel carousel-slider center">
  <div class="carousel-item white-text" href="#one!">
    <div class="hari-bulan row">
      <!-- District Selector -->
      <div class="col s12 dropdown-trigger-container">
        <a class='dropdown-trigger btn blue-grey lighten-2' href='#' data-target='dropdown1'><i class="material-icons right">arrow_drop_down</i>{{ district }}</a>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a (click)="selectDistrict(1)">Brunei Muara & Temburong</a></li>
          <li><a (click)="selectDistrict(2)">Tutong</a></li>
          <li><a (click)="selectDistrict(3)">Belait</a></li>
        </ul>
      </div>
      <!-- Date & Day -->
      <div *ngIf="today.dateHijrah">
        <p class="col s6 date masihi">{{ today.dateMasihi }}</p>
        <p class="col s6 date">{{ today.dateHijrah }}</p>
        <div class="col s12">
          <h1 class="day" *ngIf="today.Day">{{ today.Day }}</h1>
          <h1 class="day" *ngIf="!today.Day">Ahad</h1>
        </div>
      </div>
      <!-- Message -->
      <div *ngIf="today.Isya">
          <div class="col s12" *ngIf="countDown">
            <p class="countDown"><span [ngClass]="{'yellowIndicator': almost}">{{ countDown }} minit</span> {{ countDownText }}</p>
          </div>
          <div class="col s12" *ngIf="!countDown">
            <p class="countDown">Assalamualaikum</p>
          </div>
      </div>
      <!-- Prayer Time -->
      <div class="col s12" *ngIf='today.Isya'>
        <div *ngIf="!prayerTime.Malam">
          <!-- Imsak -->
          <div [ngClass]="{yellowIndicator:prayerTime.Imsak}">
            <div class="col s6 waktu">
              <p>Imsak</p>
            </div>
            <div class="col s6 masa">
              <p>{{today.Imsak}}</p>
            </div>
          </div>
          <!-- Subuh -->
          <div [ngClass]="{yellowIndicator:prayerTime.Subuh}">
            <div class="col s6 waktu">
              <p>Subuh</p>
            </div>
            <div class="col s6 masa">
              <p>{{today.Subuh}}</p>
            </div>
          </div>
          <!-- Duha -->
          <div [ngClass]="{yellowIndicator:prayerTime.Duha}">
            <div class="col s6 waktu">
              <p>Duha</p>
            </div>
            <div class="col s6 masa">
              <p>{{today.Duha}}</p>
            </div>
          </div>
        </div>
        <!-- Zuhur -->
        <div [ngClass]="{yellowIndicator:prayerTime.Zuhur}">
          <div class="col s6 waktu">
            <p>Zuhur</p>
          </div>
          <div class="col s6 masa">
            <p>{{today.Zuhur}}</p>
          </div>
        </div>
        <!-- Asar -->
        <div [ngClass]="{yellowIndicator:prayerTime.Asar}">
          <div class="col s6 waktu">
            <p>Asar</p>
          </div>
          <div class="col s6 masa">
            <p>{{today.Asar}}</p>
          </div>
        </div>
        <!-- Maghrib -->
        <div [ngClass]="{yellowIndicator:prayerTime.Maghrib}">
          <div class="col s6 waktu">
            <p>Maghrib</p>
          </div>
          <div class="col s6 masa">
            <p>{{today.Maghrib}}</p>
          </div>
        </div>
        <!-- Isya -->
        <div [ngClass]="{yellowIndicator:prayerTime.Isya}">
          <div class="col s6 waktu">
            <p>Isya</p>
          </div>
          <div class="col s6 masa">
            <p>{{today.Isya}}</p>
          </div>
        </div>
        <!-- Subuh -->
        <div *ngIf="prayerTime.Malam">
          <div class="col s6 waktu">
            <p>Imsak</p>
          </div>
          <div class="col s6 masa">
            <p>{{tomorrow.Imsak}}</p>
          </div>
          <div class="col s6 waktu">
            <p>Subuh</p>
          </div>
          <div class="col s6 masa">
            <p>{{tomorrow.Subuh}}</p>
          </div>
        </div>
      </div>
      <!-- Loadoing spinner -->
      <div *ngIf='!today.Isya'>
        <div class="preloader-wrapper big active" style="margin-top:30vh;">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="carousel-item white-text" href="#two!">
    <div class="hari-bulan row">
      <p class="col s6 date masihi">{{tomorrow.dateMasihi}}</p>
      <p class="col s6 date">{{tomorrow.dateHijrah}}</p>
      <div class="col s12">
        <h1 class="day">{{tomorrow.Day}}</h1>
      </div>
      <div class="col s12">
        <div class="col s6 waktu">
          <p>Imsak</p>
        </div>
        <div class="col s6 masa">
          <p>{{tomorrow.Imsak}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Subuh</p>
        </div>
        <div class="col s6 masa">
          <p>{{tomorrow.Subuh}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Duha</p>
        </div>
        <div class="col s6 masa">
          <p>{{tomorrow.Duha}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Zuhur</p>
        </div>
        <div class="col s6 masa">
          <p>{{tomorrow.Zuhur}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Asar</p>
        </div>
        <div class="col s6 masa">
          <p>{{tomorrow.Asar}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Maghrib</p>
        </div>
        <div class="col s6 masa">
          <p>{{tomorrow.Maghrib}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Isya</p>
        </div>
        <div class="col s6 masa">
          <p>{{tomorrow.Isya}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item white-text" href="#three!">
    <div class="hari-bulan row">
      <p class="col s6 date masihi">{{dayAfterTomorrow.dateMasihi}}</p>
      <p class="col s6 date">{{dayAfterTomorrow.dateHijrah}}</p>
      <div class="col s12">
        <h1 class="day">{{dayAfterTomorrow.Day}}</h1>
      </div>
      <div class="col s12">
        <div class="col s6 waktu">
          <p>Imsak</p>
        </div>
        <div class="col s6 masa">
          <p>{{dayAfterTomorrow.Imsak}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Subuh</p>
        </div>
        <div class="col s6 masa">
          <p>{{dayAfterTomorrow.Subuh}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Duha</p>
        </div>
        <div class="col s6 masa">
          <p>{{dayAfterTomorrow.Duha}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Zuhur</p>
        </div>
        <div class="col s6 masa">
          <p>{{dayAfterTomorrow.Zuhur}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Asar</p>
        </div>
        <div class="col s6 masa">
          <p>{{dayAfterTomorrow.Asar}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Maghrib</p>
        </div>
        <div class="col s6 masa">
          <p>{{dayAfterTomorrow.Maghrib}}</p>
        </div>
        <div class="col s6 waktu">
          <p>Isya</p>
        </div>
        <div class="col s6 masa">
          <p>{{dayAfterTomorrow.Isya}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
