// Extra Small Screen
$dayTextFSXS: 1.4rem;
$prayerTimeMarXS: 0rem;
$prayerTimePadXS: 0.1rem;
$prayerTimeFSXS: 1.3rem;
// Small Screen
$dayTextFS: 1.6rem;
$prayerTimeMar: 0rem;
$prayerTimePad: 0.3rem;
$prayerTimeFS: 1.5rem;
// Medium Screen
$dayTextFSM: 2.5rem;
$prayerTimeMarM: 0.3rem;
$prayerTimePadM: 0.5rem;
$prayerTimeFSM: 2rem;

.greenIndicator::after{
    content: "";
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5rem;
    background-color: #4caf50 ;
}
.yellowIndicator{
    color: #fdd835  ;
}
.countDown {
    margin: 0 auto;
    color: #78909C;
    width: 18rem;
    padding: 0.2rem;
    border-top: 1px solid #78909C;
    border-bottom: 1px solid #78909C;
}

.carousel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    .carousel-item{
        padding: 0;
        .dropdown-trigger-container{
            padding: 0;
            li {
                text-align: center;
            }
        }
        .dropdown-trigger{
            width: 100%;
        }
    }
    .indicators{
        height: 3rem;
    }
    .day{
        font-size: $dayTextFS;
        margin: .25rem auto;
        color: white;
        width: 9rem;
        text-transform: uppercase;
    }
    p.date {
        color: white;
        text-align: center;
        margin: .5rem auto;
        padding: 0;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: normal;
    }
    .masihi{
        position: relative;
        &::after{
            content: "|";
            position: absolute;
            right: 0;
            top: 0rem;
            font-size: 1rem;
        }
    }
    .waktu{
        text-align: right;
        position: relative;
        &::after{
            content: ":";
            position: absolute;
            right: 0;
            top: .25rem;
            font-size: $prayerTimeFS;
        }
        p {
            margin: $prayerTimeMar;
            // text-transform: uppercase;
            font-size: $prayerTimeFS !important;
            padding: $prayerTimePad;
            border-radius: 2rem;
        }
    }
    .masa{
        text-align: left;
        p{
            margin: $prayerTimeMar;
            text-transform: uppercase;
            font-size: $prayerTimeFS !important;
            display: inline-block;
            padding: $prayerTimePad;
            border-radius: .5rem;
        }
    }
}
    
@media only screen and (max-width: 320px) {
    .carousel {
        .day{
            font-size: $dayTextFSXS;
        }
        .waktu{
            &::after{
                font-size: $prayerTimeFSXS;
            }
            p {
                margin: $prayerTimeMarXS;
                font-size: $prayerTimeFSXS !important;
                padding: $prayerTimePadXS;
            }
        }
        .masa{
            p{
                margin: $prayerTimeMarXS;
                font-size: $prayerTimeFSXS !important;
                padding: $prayerTimePadXS;
            }
        }
    }
} // end media query extra small screen
@media only screen and (min-width: 601px) {
    .carousel {
        .greenIndicator::after{
            content: "";
            width: 1.2rem;
            height: 1.2rem;
        }
        .day{
            font-size: $dayTextFSM;
            margin: 1rem auto;
        }
        .countDown {
            width: 25rem;
            font-size: 1.5rem;
            border-top: 2px solid #78909C;
            border-bottom: 2px solid #78909C;
        }
        div.carousel-item.white-text.section{
            padding-top: 10rem !important;
        }
        .carousel-item{
            .dropdown-trigger{
                font-size: 1.5rem;
            }
        }
        .indicators{
            height: 3rem;
        }
        p.date {
            font-size: 1.5rem;
        }
        .masihi{
            position: relative;
            &::after{
                font-size: 1.5rem;
            }
        }
        h1{
            font-size: 2rem;
            margin: .25rem auto;
            color: white;
        }
        .waktu{
            &::after{
                right: 0;
                top: .7rem;
                font-size: $prayerTimeFSM;
            }
            p {
                margin: $prayerTimeMarM;
                font-size: $prayerTimeFSM !important;
                padding: $prayerTimePadM;
            }
        }
        .masa{
            text-align: left;
            p{
                margin: $prayerTimeMarM;
                font-size: $prayerTimeFSM !important;
                padding: $prayerTimePadM;
            }
        }
    }
} // end media query tablet screen
@media only screen and (min-width: 923px) {

} // end media query laptop screen
@media only screen and (min-width: 1201px){

} // end media query desktop screen