main {
    height: 100%;
    width: 100%;
    
}

#version {
    position: fixed;
    bottom: 0px;
    left: 1px;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: rgba($color: #fff, $alpha: 0.2)
}