<div class="container section">
  <div class="row">
    <h4>Update Database</h4>
  </div>

  <div class="row">
    <div class="input-field col s3">
      <select [(ngModel)]="value">
        <option value="0" disabled selected>Choose month</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <label>Select Month</label>
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s12">
    <textarea [(ngModel)]="textOriginal" class="materialize-textarea"></textarea>
    <label for="textarea1">Textarea</label>
  </div>
  </div>
  
  <div class="row">
    <div class="col s2">
      <button class="btn waves-effect waves-light" (click)="textToArrayofObject()">Convert</button>
    </div>
    <div class="col s3">
      <button class="btn waves-effect waves-light" (click)="Add()">Add to Database</button>
    </div>
    <div class="col s3">
      <button class="btn waves-effect waves-light" [routerLink]="['/']">Home</button>
    </div>
  </div>
  
  <div class="row">
    <h6>Result:</h6>
    <p>{{ result }}</p>
  </div>
</div>
